@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
}

#stickyNav{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.bg{
    background-image: url(images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}